.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.navbar-logo img {
  width: 170px;
  height: 100px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

.menu-icon__line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

.open .menu-icon__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .menu-icon__line:nth-child(2) {
  opacity: 0;
}

.open .menu-icon__line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: #f0ad4e;
}

.dropdown-toggle::after {
  content: "\f078";
  font-family: "FontAwesome";
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  color: #fff;
}

.dropdown-menu.active {
  display: block;
}
.dropdown-toggle:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
  color: #333;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    padding: 0 20px;
  }

  .menu-icon {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    background-color: #333;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .nav-link {
    padding: 10px 0;
  }

  .dropdown-menu {
    position: static;
  }
}
